.logo {
    height: 5vh;
}

.carousel-item {
    height: 80vh;
}

.searchbar {
    width: 12vw;
}

.categories {
    height: 12vh;
}

.socialmedia{
    height: 4vh;
}

#cardsContainer {
    width: 18rem;
}