.logo {
    height: 5vh;
}

.carousel-item {
    height: 50vh;
}

.socialmedia{
    height: 4vh;
}

main {
    min-height: 80vh;
}

#cardsContainer {
    width: 90%;
    margin: 0 auto;
}

#image {
    height: 35vh;
}